---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

{% assign sorted_pubs = site.publications | sort: 'date' %}
{% assign total = sorted_pubs | size %}
{% for post in sorted_pubs reversed %}
  {% assign num = total | minus: forloop.index0 %}
  {% include archive-single.html number=num %}
{% endfor %}



