---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% assign sorted_talks = site.talks | sort: 'date' %}
{% assign tcount = sorted_talks | size %}
{% for post in sorted_talks reversed %}
  {% assign num = tcount | minus: forloop.index0 %}
  {% include archive-single-talk.html number=num %}
{% endfor %}
