.has-dropdown {
  position: relative;
}

.dropdown {
  display: none;
  position: absolute;
  left: 0;
  background-color: #f9f9f9;
  width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 0;
  z-index: 1;
  list-style-type: none;
  margin: 0;
}

.dropdown li {
  display: block;
  width: 100%;
}

.dropdown li a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: inherit;
  white-space: normal;
  word-wrap: break-word;
}

.dropdown li a:hover {
  background-color: #f1f1f1;
}

.has-dropdown:hover .dropdown {
  display: block;
}
